In [16]:
print("Information of the female students in Classroom 1 \n")
print("Name | Age | Height | Scores \n")

fem_ names = ["Evelyn", "Jessica", "Somto", "Edith", "Liza", "Madonna", "Waje", "Tola", "Aisha", "Latifa"]
fem_ages = [17, 16, 17, 18, 16, 18, 17, 20, 19, 17]
fem_heights = [5.5, 6.0, 5.4, 5.0, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5]
fem_scores = [83, 85, 70, 60, 70, 66, 87, 95, 50, 41]

for info in range(10):
    print(fem_names[info], "|", fem_ages[info], "|", fem_heights[info], "|", fem_scores[info])

Information of the female students in Classroom 1

Name | Age | Height | Scores

Evelyn | 17 | 5.5 | 83
Jessica | 16 | 6.0 | 85
Somto | 17 | 5.4 | 70
Edith | 18 | 5.0 | 60
Liza | 16 | 5.6 | 70
Madonna | 18 | 5.5 | 66
Waje | 17 | 6.1 | 87
Tola | 20 | 6.0 | 95
Aisha | 19 | 5.7 | 50
Latifa | 17 | 5.5 | 41

In [34]:
print("Information of the male students in Classroom 1 \n")

males = {
    'Chinedu:' : '19|5.7|74',
    'Liam:' : '16|5.9|87',
    'Wale:' : '18|5.8|75',
    'Gbenga:' : '17|6.1|68',
    'Abiola:' : '20|5.9|66',
    'Kola:' : '19|5.5|87',
    'Kunle:' : '16|6.1|98',
    'George:' : '18|5.4|98',
    'Thomas:' : '17|5.8|54',
    'Wesley:' : '19|5.7|60'
}

for person in males:
    print(person, males[person])

Information of the male students in Classroom 1

Chinedu: 19|5.7|74
Liam: 16|5.9|87
Wale: 18|5.8|75
Gbenga: 17|6.1|68
Abiola: 20|5.9|66
Kola: 19|5.5|87
Kunle: 16|6.1|98
George: 18|5.4|98
Thomas: 17|5.8|54
Wesley: 19|5.7|60